@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&family=Staatliches&display=swap");
html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Raleway, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2a2f34;
  color: #c9c9c9;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

nav {
  padding-top: 1rem;
  padding-left: 2rem;
  font-family: Staatliches;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.25rem;
  background-color: #22262a;
  color: #c9c9c9;
}

nav a {
  color: #c9c9c9;
  text-decoration: none;
}

nav a:hover {
  -webkit-text-decoration: underline #48ffd4;
          text-decoration: underline #48ffd4;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding-right: 2rem;
}

nav .toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 21px;
  width: 30px;
}

nav .toggle-button .bar {
  height: 3px;
  width: 100%;
  background: #c9c9c9;
  border-radius: 10px;
}

@media (max-width: 800px) {
  nav .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
    height: 100vh;
  }
  nav .nav-links li {
    padding: 1ch;
  }
  nav .nav-left {
    display: none;
  }
}

@media (max-width: 800px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-left: 0;
  }
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
    height: 100vh;
  }
  .nav-links li {
    padding: 1ch;
    font-size: 2.5rem;
  }
  .nav-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-left {
    display: none;
  }
}

.intro-container {
  background-color: #22262a;
  font-family: Staatliches;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8rem 2rem 5rem 2rem;
}

.intro-container span {
  color: #48ffd4;
  height: 80px;
}

.intro-container #name-title {
  margin: auto;
  text-align: left;
  padding: 0;
}

.intro-container #name-title #hey {
  text-align: left;
  color: #c9c9c9;
  font-size: 6rem;
}

.intro-container #name-title h1 {
  color: #c9c9c9;
  font-size: 8rem;
  margin: 0;
  line-height: 130px;
}

.intro-container h2 {
  color: #c9c9c9;
  margin: 0;
  padding: 1rem 0 1rem 0;
  font-size: 1.75rem;
}

.intro-container h2 #and {
  color: #48ffd4;
}

.intro-container .section-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 0 auto;
  padding: 1rem 0 1rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-container .section-buttons a {
  text-decoration: none;
  line-height: 0px;
}

.intro-container .section-buttons i {
  font-size: 2.5rem;
  color: #48ffd4;
  padding-right: 1rem;
}

.intro-container .section-buttons button {
  font-family: Staatliches;
  font-size: 1.25em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #22262a;
  color: #48ffd4;
  border: 1px solid #48ffd4;
  margin-right: 1em;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 15px;
}

.intro-container .section-buttons button:hover {
  background-color: #48ffd4;
  color: #22262a;
  border: 1px solid #48ffd4;
  cursor: pointer;
}

.intro-container svg {
  padding-bottom: 0;
  margin-bottom: 0;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-section h3 {
  font-family: Staatliches;
  text-align: center;
  font-size: 4.5rem;
  padding: 0;
  margin: 0;
  -webkit-text-decoration: underline #48ffd4;
          text-decoration: underline #48ffd4;
}

.about-section .about-para {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 2em 1.5em 2em 1.5em;
}

.about-section p {
  max-width: 55ch;
  text-align: left;
  font-size: 1.25rem;
  font-weight: bold;
}

.skills-section h3 {
  font-family: Staatliches;
  text-align: center;
  font-size: 4.5rem;
  padding: 0;
  margin: 0;
  -webkit-text-decoration: underline #48ffd4;
          text-decoration: underline #48ffd4;
  padding: 0.5em 0 0.5em 0;
}

.skills-section .skills-grid {
  padding-top: 2em;
  max-width: 60ch;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
  grid-row-gap: 3em;
  margin: auto;
}

.skills-section .skills-grid div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-weight: bold;
}

.skills-section .skills-grid i {
  text-align: center;
  color: #48ffd4;
  font-size: 4rem;
  padding: 10px;
}

.projects-section {
  margin-top: -5px;
  padding: 0;
  background-color: #22262a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-section h3 {
  font-family: Staatliches;
  text-align: center;
  font-size: 4.5rem;
  padding: 0;
  margin: 0;
  -webkit-text-decoration: underline #48ffd4;
          text-decoration: underline #48ffd4;
  padding: 0.7em;
}

.projects-section .projects-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  position: relative;
  margin: 1em;
  padding: 1.5em;
}

.projects-section .projects-card .projects-description {
  padding-left: 1em;
  height: 90%;
  background-color: #2a2f34;
  margin: auto;
  -webkit-box-shadow: 0 0 10px #151515;
          box-shadow: 0 0 10px #151515;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.projects-section .projects-card .img-div {
  z-index: 1;
}

.projects-section .projects-card img {
  width: 450px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 10px #0e0e0e;
          box-shadow: 0 0 10px #0e0e0e;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .projects-section .projects-card img {
    width: 100%;
  }
}

.projects-section .projects-card h4 {
  padding: 1ch;
  margin: 0;
  color: #c9c9c9;
  text-transform: uppercase;
  font-family: Staatliches;
  font-size: 1.5rem;
  -webkit-text-decoration: underline #48ffd4;
          text-decoration: underline #48ffd4;
}

.projects-section .projects-card p {
  padding: 1ch;
  margin: 0;
}

.projects-section .projects-card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 1ch;
}

.projects-section .projects-card ul li {
  margin-right: 1ch;
  color: #48ffd4;
  border: 1px solid #48ffd4;
  font-weight: 600;
  padding: 5px;
  border-radius: 10px;
}

.projects-section .projects-card i {
  padding: 10px;
  font-size: 2rem;
  color: #48ffd4;
}

@media (max-width: 800px) {
  .projects-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects-description {
    height: auto;
    width: 90%;
    border-radius: 10px;
  }
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-section h3 {
  font-family: Staatliches;
  text-align: center;
  font-size: 4.5rem;
  padding: 0;
  margin: 0;
  -webkit-text-decoration: underline #48ffd4;
          text-decoration: underline #48ffd4;
}

.contact-section form {
  width: 300px;
  padding: 4em;
  font-weight: 600;
}

.contact-section label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em 0 1em 0;
}

.contact-section input {
  height: 30px;
  font-size: 1rem;
  margin-top: 5px;
  border-radius: 5px;
  background-color: #c9c9c9;
  border: none;
  padding: 0 1em 0 1em;
}

.contact-section input:focus {
  outline: none;
}

.contact-section textarea {
  height: 100px;
  resize: none;
  font-family: Raleway;
  font-size: 1rem;
  margin-top: 5px;
  border-radius: 5px;
  outline: none;
  background-color: #c9c9c9;
  border: none;
  padding: 0.5em 1em 0.5em 1em;
}

.contact-section button {
  padding: 1ch 2ch 1ch 2ch;
  background-color: #2a2f34;
  border: 1px solid #48ffd4;
  color: #48ffd4;
  border-radius: 10px;
}

.contact-section button:hover {
  color: #22262a;
  background-color: #48ffd4;
  cursor: pointer;
}

footer {
  padding: 3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

footer div {
  padding-bottom: 1em;
}

footer i {
  padding-right: 1em;
  color: #c9c9c9;
}
/*# sourceMappingURL=styles.css.map */