@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&family=Staatliches&display=swap");

$green-color: rgb(72, 255, 212);
$off-white: rgb(201, 201, 201);
$background: #22262a;
$light-bg: #2a2f34;

@mixin section-headers {
  font-family: Staatliches;
  text-align: center;
  font-size: 4.5rem;
  padding: 0;
  margin: 0;
  text-decoration: underline $green-color;
}

html,
body {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2a2f34;
  color: $off-white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

nav {
  padding-top: 1rem;
  padding-left: 2rem;
  font-family: Staatliches;
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  background-color: #22262a;
  color: rgb(201, 201, 201);

  a {
    color: $off-white;
    text-decoration: none;
    &:hover {
      text-decoration: underline $green-color;
    }
  }

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding-right: 2rem;
    }
  }
  .toggle-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
    width: 30px;

    .bar {
      height: 3px;
      width: 100%;
      background: $off-white;
      border-radius: 10px;
    }
  }
  @media (max-width: 800px) {
    .toggle-button {
      display: flex;
    }
    .nav-links {
      flex-direction: column;
      display: none;
      height: 100vh;

      li {
        padding: 1ch;
      }
    }
    .nav-left {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 0;
  }
  .toggle-button {
    display: flex;
  }
  .nav-links {
    flex-direction: column;
    display: none;
    height: 100vh;

    li {
      padding: 1ch;
      font-size: 2.5rem;
    }
  }
  .nav-links.active {
    display: flex;
  }
  .nav-left {
    display: none;
  }
}

.intro-container {
  background-color: #22262a;
  font-family: Staatliches;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // line-height: 5em;
  padding: 8rem 2rem 5rem 2rem;

  span {
    color: $green-color;
    height: 80px;
  }

  #name-title {
    margin: auto;
    text-align: left;
    padding: 0;

    #hey {
      text-align: left;
      // padding-bottom: 1.5rem;
      color: $off-white;
      font-size: 6rem;
      // margin-bottom: 0;
      // line-height: 40px;
    }

    h1 {
      color: $off-white;
      font-size: 8rem;
      margin: 0;
      line-height: 130px;
    }
  }

  h2 {
    color: $off-white;
    margin: 0;
    padding: 1rem 0 1rem 0;
    font-size: 1.75rem;

    #and {
      color: $green-color;
    }
  }

  .section-buttons {
    display: flex;
    margin: 0 auto 0 auto;
    padding: 1rem 0 1rem 0;
    align-items: center;

    a {
      text-decoration: none;
      line-height: 0px;
    }
    i {
      font-size: 2.5rem;
      color: $green-color;
      padding-right: 1rem;
    }

    button {
      font-family: Staatliches;
      font-size: 1.25em;
      justify-content: flex-start;
      background-color: $background;
      color: $green-color;
      border: 1px solid $green-color;
      margin-right: 1em;
      padding: 0.5rem 1rem 0.5rem 1rem;
      border-radius: 15px;
    }

    button:hover {
      background-color: $green-color;
      color: $background;
      border: 1px solid $green-color;
      cursor: pointer;
    }
  }
  svg {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.about-section {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h3 {
    @include section-headers;
  }

  .about-para {
    justify-content: center;
    margin: auto;
    padding: 2em 1.5em 2em 1.5em;
  }
  p {
    max-width: 75ch;
    text-align: left;
    font-size: 1.25rem;
    font-weight: bolder;
  }
}

.skills-section {
  h3 {
    @include section-headers;
    padding: 0.5em 0 0.5em 0;
  }

  .skills-grid {
    padding-top: 2em;
    max-width: 60ch;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    grid-row-gap: 3em;
    margin: auto;

    div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      font-weight: bold;
    }

    i {
      text-align: center;
      color: $green-color;
      font-size: 4rem;
      padding: 10px;
    }
  }
}

.projects-section {
  margin-top: -5px;
  padding: 0;
  background-color: $background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    @include section-headers;
    padding: 0.7em;
  }

  .projects-card {
    display: flex;
    max-width: 1000px;
    position: relative;
    margin: 1em;
    padding: 1.5em;

    .projects-description {
      padding-left: 1em;
      height: 90%;
      background-color: $light-bg;
      margin: auto;
      box-shadow: 0 0 10px rgb(21, 21, 21);
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .img-div {
      z-index: 1;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      box-shadow: 0 0 10px rgb(14, 14, 14);
      border-radius: 10px;
    }

    h4 {
      padding: 1ch;
      margin: 0;
      color: $off-white;
      text-transform: uppercase;
      font-family: Staatliches;
      font-size: 1.5rem;
      text-decoration: underline $green-color;
    }
    p {
      padding: 1ch;
      margin: 0;
    }

    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 1ch;

      li {
        margin-right: 1ch;
        color: $green-color;
        border: 1px solid $green-color;
        font-weight: 600;
        padding: 5px;
        border-radius: 10px;
      }
    }
    i {
      padding: 10px;
      font-size: 2rem;
      color: $green-color;
    }
  }
}

@media (max-width: 1000px) {
  .projects-card {
    flex-direction: column;
  }
  .projects-description {
    height: 100%;
    width: 90%;
    border-radius: 10px;
  }
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    @include section-headers;
  }
  form {
    width: 300px;
    padding: 4em;
    font-weight: 600;
  }
  label {
    display: flex;
    flex-direction: column;
    margin: 1em 0 1em 0;
  }
  input {
    height: 30px;
    font-size: 1rem;
    margin-top: 5px;
    border-radius: 5px;
    background-color: $off-white;
    border: none;
    padding: 0 1em 0 1em;
    &:focus {
      outline: none;
    }
  }
  textarea {
    height: 100px;
    resize: none;
    font-family: Raleway;
    font-size: 1rem;
    margin-top: 5px;
    border-radius: 5px;
    outline: none;
    background-color: $off-white;
    border: none;
    padding: 0.5em 1em 0.5em 1em;
  }
  button {
    padding: 1ch 2ch 1ch 2ch;
    background-color: $light-bg;
    border: 1px solid $green-color;
    color: $green-color;
    border-radius: 10px;
    &:hover {
      color: $background;
      background-color: $green-color;
      cursor: pointer;
    }
  }
}
